# Build / Runtime
bin/
obj/
*.dll
*.exe
*.deps.json
*.runtimeconfig.json
*.runtimeconfig.dev.json
*.staticwebassets.*
runtimes/

# Localization / language folders
af/
ar/
az/
bg/
bn-BD/
cs/
da/
de/
el/
es/
fa/
fi-FI/
fr-BE/
fr/
he/
hr/
hu/
hy/
id/
is/
it/
ja/
ko-KR/
ko/
ku/
lv/
ms-MY/
mt/
nb-NO/
nb/
nl/
pl/
pt-BR/
pt/
ro/
ru/
sk/
sl/
sr-Latn/
sr/
sv/
th-TH/
tr/
uk/
uz-Cyrl-UZ/
uz-Latn-UZ/
vi/
zh-CN/
zh-Hans/
zh-Hant/

# Visual Studio / IDE
.vs/
*.user
*.suo
.idea/

# Logs
*.log

# OS files
Thumbs.db
.DS_Store
